.dropzoneFeedbackOuter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dropzoneFeedbackInner {
  align-items: center;
  background-color: var(--bg-panel);
  color: var(--fg-primary);
  padding: 20px;
}
