.tabBarContainer {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.tabBarContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
