include:
  - "/gitlab-ci/stages.yml"
  - "/gitlab-ci/common.yml"
  - "/gitlab-ci/stages/01-build-and-test.yml"
  - "/gitlab-ci/stages/02-push-to-prod.yml"
  - "/gitlab-ci/stages/03-push-images.yml"
  - "/gitlab-ci/stages/04-run-migrations.yml"
  - "/gitlab-ci/stages/05-deploy.yml"
