image:
  name: unawareguitar/leaning-basket:latest
  pull_policy: always

include:
  - "/gitlab-ci/stages.yml"
  - "/gitlab-ci/common.yml"
  - "/gitlab-ci/stages/01-build-and-test.yml"
  - "/gitlab-ci/stages/02-push-to-prod.yml"
  - "/gitlab-ci/stages/03-push-images.yml"
