stages:
  - deploy-prod

push master to prod:
  stage: deploy-prod
  image: alpine:latest
  before_script:
    - apk add --no-cache git
  script:
    - git config user.email "team+ci-bot@whalesync.com"
    - git config user.name "ci-bot"
    - git fetch --all --prune
    - git checkout master
    - git pull
    - git checkout prod
    - git pull origin prod
    - git merge -m "(Auto) Merge branch 'master' into prod" --no-ff -X theirs master
    - git push origin prod
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web"'
  when: manual
