.contentHeader {
  border-bottom: 1px solid var(--mantine-color-gray-2);
  padding: 2px 6px 2px 6px;
}

.contentFooter {
  border-top: 1px solid var(--mantine-color-gray-2);
  padding: 2px 6px 2px 6px;
}

.contentBody {
  padding: 6px 6px 6px 6px;
}
