.contentHeader {
  height: 56px;
  padding: 0 var(--mantine-spacing-lg);
  flex-shrink: 0; /* Prevents it from shrinking when content-main grows */
}

.contentFooter {
  height: 40px;
  border-top: 1px solid var(--mantine-color-gray-4);
  padding: 2px 6px 2px 6px;
  flex-shrink: 0; /* Prevents it from shrinking */
}

.contentBody {
  padding: 0 var(--mantine-spacing-lg);
  flex-grow: 1; /* Takes up all available space between header and footer */
  overflow-y: auto; /* Enables vertical scrolling if content overflows */
  justify-content: flex-start; /* Align text at the top */
  align-items: flex-start; /* Align text to the left */
  flex-direction: column; /* Stack paragraphs vertically */
}
