.contentHeader {
  height: 56px;
  padding: 0 var(--mantine-spacing-lg);
  flex-shrink: 0; /* Prevents it from shrinking when content-main grows */
}

.contentFooter {
  border-top: 1px solid var(--fg-divider);
  flex-shrink: 0; /* Prevents it from shrinking */
}

.contentBody {
  padding: 0 var(--mantine-spacing-lg);
  flex-grow: 1; /* Takes up all available space between header and footer */
  overflow-y: auto; /* Enables vertical scrolling if content overflows */
  overflow-x: hidden; /* Prevents horizontal scrolling */
  justify-content: flex-start; /* Align text at the top */
  align-items: flex-start; /* Align text to the left */
  flex-direction: column; /* Stack paragraphs vertically */
}
