services:
  db:
    image: postgres:13.7
    ports:
      - '5432:5432'
    environment:
      POSTGRES_PASSWORD: postgres
    command: postgres -c shared_preload_libraries=pg_stat_statements
  redis:
    image: redis
    ports:
      - '6379:6379'
  mongodb:
    image: mongo:latest
    ports:
      - '27017:27017'
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
