/* ----- Row Border ----- */
.my-grid.ag-theme-alpine {
  --ag-row-border-color: transparent;
  --ag-row-border-width: 0px;
}

.my-grid.ag-theme-alpine-dark {
  --ag-row-border-color: transparent;
  --ag-row-border-width: 0px;
}

/* TODO(ivan): remove the !important here */
/* ----- Column Border ----- */
.my-grid.ag-theme-alpine .ag-cell {
  border-left: 0.5px solid #c8ced4 !important;
  border-top: 0px !important;
  border-bottom: 0px !important;
  border-right: 0px !important;
}

.my-grid.ag-theme-alpine-dark .ag-cell {
  border-left: 0.5px solid #c8ced4 !important;
  border-top: 0px !important;
  border-bottom: 0px !important;
  border-right: 0px !important;
}

/* Override left border for first column */
.my-grid.ag-theme-alpine .ag-cell.ag-column-first {
  border-left: 0px !important;
}

.my-grid.ag-theme-alpine-dark .ag-cell.ag-column-first {
  border-left: 0px !important;
}

/* ----- Border of the PINNED AREA ONLY ----- */
.my-grid.ag-theme-alpine {
  --ag-border-color: var(--mantine-color-gray-2);
}
.my-grid.ag-theme-alpine-dark {
  --ag-border-color: var(--mantine-color-gray-8);
}
