/* Selection corner borders shared vars */
.my-grid {
  --corner-border-width: 1px;
  --corner-border-length: 6px;
  --edited-border-length: 16px;
  --image-border-offset: 2px;
}

/* ----------- Vars for the focus border ------------ */

.my-grid.ag-theme-alpine .ag-cell {
  --corner-border-color: black;
}

.my-grid.ag-theme-alpine-dark .ag-cell {
  --corner-border-color: white;
}

.my-grid[class*='ag-theme'] .ag-cell:not(.ag-cell-focus) {
  --corner-border-color: transparent;
}

/* ----------- Vars for the edited border ------------ */
.my-grid[class*='ag-theme'] .ag-cell {
  --edited-border-color: var(--mantine-color-suggestion-9);
}

.my-grid[class*='ag-theme'] .ag-cell:not(.cell-edited) {
  --edited-border-color: transparent;
}

.my-grid .ag-cell {
  /* --corner-border-color: black; */
  background-image:
        /* Inner border for edited cell */
    linear-gradient(
      to bottom,
      var(--edited-border-color) 0px,
      var(--edited-border-color) var(--edited-border-length),
      transparent var(--edited-border-length)
    ),
    /* TL-H */
      linear-gradient(
        to right,
        var(--corner-border-color) var(--corner-border-width),
        transparent var(--corner-border-width)
      ),
    /* TL-V */
      linear-gradient(
        to bottom,
        var(--corner-border-color) var(--corner-border-width),
        transparent var(--corner-border-width)
      ),
    /* TR-H */
      linear-gradient(
        to left,
        var(--corner-border-color) var(--corner-border-width),
        transparent var(--corner-border-width)
      ),
    /* TR-V */
      linear-gradient(
        to bottom,
        var(--corner-border-color) var(--corner-border-width),
        transparent var(--corner-border-width)
      ),
    /* BL-H */
      linear-gradient(
        to right,
        var(--corner-border-color) var(--corner-border-width),
        transparent var(--corner-border-width)
      ),
    /* BL-V */
      linear-gradient(
        to top,
        var(--corner-border-color) var(--corner-border-width),
        transparent var(--corner-border-width)
      ),
    /* BR-H */
      linear-gradient(
        to left,
        var(--corner-border-color) var(--corner-border-width),
        transparent var(--corner-border-width)
      ),
    /* BR-V */
      linear-gradient(
        to top,
        var(--corner-border-color) var(--corner-border-width),
        transparent var(--corner-border-width)
      );
  background-position:
    var(--image-border-offset) center,
    /* TL-V */ var(--image-border-offset) 0,
    /* TL-H */ var(--image-border-offset) 0,
    /* TR-V */ calc(100% - var(--image-border-offset)) 0px,
    /* TR-H */ calc(100% - var(--image-border-offset)) 0px,
    /* BL-V */ var(--image-border-offset) calc(100% - var(--image-border-offset)),
    /* BL-H */ var(--image-border-offset) calc(100% - var(--corner-border-width)),
    /* BR-V */ calc(100% - var(--image-border-offset)) calc(100% - var(--image-border-offset)),
    /* BR-H */ calc(100% - var(--image-border-offset)) calc(100% - var(--corner-border-width));
  background-size:
    1px var(--edited-border-length),
    /* TL-V */ var(--corner-border-length) var(--corner-border-length),
    /* TL-H */ var(--corner-border-length) var(--corner-border-length),
    /* TR-V */ var(--corner-border-length) var(--corner-border-length),
    /* TR-H */ var(--corner-border-length) var(--corner-border-length),
    /* BL-V */ var(--corner-border-length) var(--corner-border-length),
    /* BL-H */ var(--corner-border-length) var(--corner-border-length),
    /* BR-V */ var(--corner-border-length) var(--corner-border-length),
    /* BR-H */ var(--corner-border-length) var(--corner-border-length);
  background-repeat: no-repeat;
}
