/* Cell text colors for light and dark themes */

.my-grid .ag-cell {
  /* Padding is moved to the internal cell wrappers */
  padding-left: 0px;
  padding-right: 0px;
}

.my-grid.ag-theme-alpine .ag-cell.ag-cell-focus-column {
  /* Closest to eee, which is what Joel requested */
  background-color: var(--mantine-color-gray-1);
}
.my-grid.ag-theme-alpine-dark .ag-cell.ag-cell-focus-column {
  background-color: var(--mantine-color-gray-7);
}

.my-grid.ag-theme-alpine .ag-cell.ag-cell-focus {
  background-color: var(--mantine-color-gray-4);
}

.my-grid.ag-theme-alpine-dark .ag-cell.ag-cell-focus-column {
  /* Closest to eee, which is what Joel requested */
  background-color: var(--mantine-color-gray-3);
}

/* Suggestion buttons - show on hover */
