/* Global AG Grid theme overrides */
/* This file contains global styles that cannot be in CSS modules */

/* Remove AG Grid borders and make them straight */
.my-grid[class*='ag-theme'] {
  border: none !important;
  border-radius: 0 !important;
  --fg-accept: var(--mantine-color-teal-9);
  --bg-accept: var(--mantine-color-green-4);
}

.my-grid[class*='ag-theme'] .ag-root-wrapper {
  border: none;
  border-radius: 0;
  background: transparent;
}
