/* Global AG Grid theme overrides */
/* This file contains global styles that cannot be in CSS modules */

/* Remove AG Grid borders and make them straight */
.my-grid[class*='ag-theme'] {
  border: none !important;
  border-radius: 0 !important;
}

.my-grid[class*='ag-theme'] .ag-root-wrapper {
  border: none;
  border-radius: 0;
  background: transparent;
}

.my-grid.ag-theme-alpine-dark .ag-cell .cell-text.readonly-cell-text {
  color: var(--mantine-color-gray-7);
}
