.my-grid[class*='ag-theme'] .ag-header {
  border: none !important;
  border-radius: 0 !important;
  background: transparent !important;
  border-bottom: 0.5px solid #c8ced5 !important;
}

.my-grid[class*='ag-theme'] .ag-header-cell {
  background: transparent;
  padding-left: 0px;
  padding-right: 8px;
  margin-left: 0px;
  border-left: 0.5px solid var(--mantine-color-gray-4) !important;
}

.my-grid[class*='ag-theme'] .ag-header-row {
  background: transparent;
}

.my-grid.ag-theme-alpine-dark .ag-header {
  border-bottom: 0.5px solid white !important;
}

/* header */

.my-grid.ag-theme-alpine .ag-header-cell-text {
  color: black !important;
  font-weight: 500 !important;
}

.my-grid.ag-theme-alpine-dark .ag-header-cell-text {
  color: var(--mantine-color-gray-6) !important;
}

.my-grid[class*='ag-theme'] .ag-header-cell-resize::after {
  opacity: 0;
}

.my-grid[class*='ag-theme'] .ag-header-cell:hover .ag-header-cell-resize::after {
  opacity: 1;
}
