/* Make rows transparent to show body background */
.my-grid[class*='ag-theme'] .ag-row-odd {
  background: transparent;
}

.my-grid[class*='ag-theme'] .ag-row-even {
  background: transparent;
}

.my-grid[class*='ag-theme'] .ag-row {
  background: transparent;
}

/* Row selection and hover colors - Light theme */
.my-grid.ag-theme-alpine {
  --ag-row-hover-color: var(--mantine-color-gray-1);
  --ag-selected-row-background-color: var(--mantine-color-gray-2);
}

/* Row selection and hover colors - Dark theme */
.my-grid.ag-theme-alpine-dark {
  /* --ag-row-hover-color: var(--mantine-color-gray-8); */
  --ag-selected-row-background-color: var(--mantine-color-gray-3);
}
