:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Semantic names for some custom colors */

  /* Backgrounds */
  --bg-base: var(--mantine-color-body);
  --bg-panel: var(--mantine-color-gray-0);
  --bg-selected: var(--mantine-color-gray-1);

  /* Foreground/Text */
  --fg-primary: var(--mantine-color-gray-9);
  --fg-secondary: var(--mantine-color-gray-8);
  --fg-muted: var(--mantine-color-gray-7);

  font-feature-settings:
    'liga' 1,
    'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-color: hsla(50, 25%, 96%);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

#portal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}
