.pageContainer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

/* 1. Collapsible Nav Bar (Left) */
.navBar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0; /* Spans full height of the viewport */
  width: 200px;
  border-right: 0.5px solid var(--mantine-color-gray-4);
  transition: width 0.2s ease-in-out;
  z-index: 100;
}

.navBar[data-navbar-visible='false'] {
  width: 0%;
}

.navBar[data-footer-visible='true'] {
  bottom: 30px;
}

/* 2. Fixed Footer (Bottom) */
.mainFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; /* Spans full width of the viewport */
  height: 30px;
  border-top: 0.5px solid var(--mantine-color-gray-4);
  z-index: 100; /* Ensure it's above other content if overlapping */
  padding: 0px;
}

/* 3. Fixed Panel (Right) */
.rightPanel {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0px; /* Spans from top to just above the main footer */
  width: 500px;
  flex-direction: column;
  padding: 0px;
  transition: width 0.1s ease-in-out;
  border-left: 0.5px solid var(--mantine-color-gray-4);
  z-index: 100;
}

.rightPanel[data-right-panel-visible='false'] {
  width: 0px;
  transition: width 0.1s ease-in-out;
}

.rightPanel[data-footer-visible='true'] {
  bottom: 30px;
}

/* 4. Content Div (Center) - Fills remaining space */
/* This wrapper defines the bounds for the content area, clearing fixed elements */
.contentAreaWrapper {
  position: fixed; /* Positions it relative to the body (viewport) */
  top: 0;
  left: 0px; /* Clears the fixed nav bar */
  right: 0px; /* Clears the fixed right panel */
  bottom: 0px; /* Clears the fixed main footer */
  flex-direction: column; /* Arranges its children (header, main, footer) vertically */
  justify-content: flex-start; /* Align content at the start */
  align-items: stretch; /* Stretch children to fill available width */
  transition: left 0.2s ease-in-out;
  transition: right 0.1s ease-in-out;
}

.contentAreaWrapper[data-navbar-visible='true'] {
  left: 200px;
  transition: left 0.2s ease-in-out;
}

.contentAreaWrapper[data-right-panel-visible='true'] {
  right: 500px;
  transition: right 0.1s ease-in-out;
}

.contentAreaWrapper[data-footer-visible='true'] {
  bottom: 30px;
}
