# PROD RELEASE JOBS (Procects prod branch)
.release_prod_job:
  stage: deploy
  image:
    name: goreleaser/goreleaser:latest
    entrypoint: [""]
  variables:
    GIT_DEPTH: 0
  script:
    - chmod +x scratch-cli/scripts/release_public.sh
    - scratch-cli/scripts/release_public.sh $RELEASE_TYPE
  when: manual
  only:
    - prod

release-cli-patch:
  extends: .release_prod_job
  variables:
    RELEASE_TYPE: "patch"

release-cli-minor:
  extends: .release_prod_job
  variables:
    RELEASE_TYPE: "minor"

release-cli-major:
  extends: .release_prod_job
  variables:
    RELEASE_TYPE: "major"

# TEST RELEASE JOBS (Protects master branch)
.release_test_job:
  stage: deploy
  image:
    name: goreleaser/goreleaser:latest
    entrypoint: [""]
  variables:
    GIT_DEPTH: 0
  script:
    - chmod +x scratch-cli/scripts/release_test.sh
    - scratch-cli/scripts/release_test.sh $RELEASE_TYPE
  when: manual
  only:
    - master

release-cli-test-patch:
  extends: .release_test_job
  variables:
    RELEASE_TYPE: "patch"

release-cli-test-minor:
  extends: .release_test_job
  variables:
    RELEASE_TYPE: "minor"

release-cli-test-major:
  extends: .release_test_job
  variables:
    RELEASE_TYPE: "major"
