.release_job:
  stage: deploy
  image:
    name: goreleaser/goreleaser:latest
    entrypoint: [""]
  variables:
    GIT_DEPTH: 0
  script:
    - chmod +x scratch-cli/scripts/release_public.sh
    - scratch-cli/scripts/release_public.sh $RELEASE_TYPE
  when: manual
  only:
    - master

release-cli-patch:
  extends: .release_job
  variables:
    RELEASE_TYPE: "patch"

release-cli-minor:
  extends: .release_job
  variables:
    RELEASE_TYPE: "minor"

release-cli-major:
  extends: .release_job
  variables:
    RELEASE_TYPE: "major"
