.root {
  /* A variant of transparent that changes color on hover */
  &[data-variant='transparent-hover'] {
    background: transparent;
    &:hover:not(:disabled) {
      color: var(--mantine-color-primary-filled);
      background: transparent;
    }
    &:disabled {
      background: transparent;
      opacity: light-dark(0.5, 0.8);
    }
  }
}

/** CUSTOM BADGE STYLES */
.badgeRoot {
  font-weight: 425;

  border: 1px solid color-mix(in srgb, currentColor 30%, transparent);
  border-radius: 0; /** Square corners */
  text-transform: none; /** Override the all-caps default */
}

/** CUSTOM BUTTON STYLES */
.buttonLabel {
  font-weight: 425;
}

/** CUSTOM CHECKBOX STYLES */
.checkboxInput {
  border-color: var(--mantine-color-gray-5);

  &:checked {
    background-color: var(--mantine-color-green-6);
    border-color: var(--mantine-color-green-8);
  }
}

/** CUSTOM Keyboard STYLES */
.kbdRoot {
  color: var(--fg-primary);
  background-color: var(--bg-base);
  border: 1px solid var(--fg-divider);
  border-radius: 0;
  font-family: var(--mantine-font-family-monospace);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}

/** CUSTOM TABLE STYLES */
.tableThead {
  color: var(--fg-secondary);
  font-family: var(--mantine-font-family-monospace);
  text-transform: uppercase;
  font-weight: 405;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.25px;
}

.tableTbody {
  color: var(--mantine-color-gray-9);

  font-size: 13px;
  font-weight: 425;
  line-height: 19px;
  letter-spacing: 0%;
}

/** CUSTOM TOOLTIP STYLES */
.tooltip {
  /* Colors are reversed here for contrast with the normal page */
  background-color: var(--fg-primary);
  color: var(--bg-base);

  border: none;
  border-radius: var(--mantine-radius-sm);

  /** text/13-regular */
  font-size: 13px;
  font-weight: 425;
  line-height: 19px;
  letter-spacing: 0%;
}

/** CUSTOM MENU STYLES */
.menuDropdown {
  background-color: var(--bg-base);
  border: 1px solid var(--mantine-color-gray-5);
}

.menuDivider {
  background-color: var(--mantine-color-gray-5);
  margin-left: -4px;
  margin-right: -4px;
}

.menuItem {
  &[data-disabled] {
    color: var(--fg-secondary); /** Additional opacity applied by the widget? */
  }

  &[data-delete] {
    color: var(--mantine-color-red-8);

    .menuItemSection {
      color: var(--mantine-color-red-8);
    }
  }
}

.menuItemSection {
  color: var(--fg-muted);
}
