.root {
  /* A variant of transparent that changes color on hover */
  &[data-variant='transparent-hover'] {
    background: transparent;
    &:hover:not(:disabled) {
      color: var(--mantine-color-primary-filled);
      background: transparent;
    }
    &:disabled {
      background: transparent;
      opacity: light-dark(0.5, 0.8);
    }
  }
}

/** CUSTOM TABLE STYLES */
.tableThead {
  font-weight: 425;
  color: var(--fg-secondary);
}

.tableTbody {
  color: var(--mantine-color-gray-9);
}

/** CUSTOM MENU STYLES */
.menuDropdown {
  background-color: var(--bg-panel);
  border: 1px solid var(--mantine-color-gray-4);
}

.menuItem {
  &[data-disabled] {
    color: var(--fg-secondary); /** Additional opacity applied by the widget */
  }
}
