.chatPanelHeader {
  border-bottom: 1px solid var(--fg-divider);
  padding: 2px 6px 2px 6px;
  flex-shrink: 0; /* Prevents it from shrinking */
}

.chatPanelBody {
  padding: 8px;
  flex-grow: 1; /* Takes up all available space between header and footer */
  overflow-y: auto; /* Enables vertical scrolling if content overflows */
  justify-content: flex-start; /* Align text at the top */
  align-items: flex-start; /* Align text to the left */
  flex-direction: column; /* Stack paragraphs vertically */
}

.chatPanelFooter {
  border-top: 1px solid var(--fg-divider);
  flex-shrink: 0; /* Prevents it from shrinking */
  flex-grow: 1;
}
