.chatMessageRoot {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;

  font-size: 13px;
  font-weight: 425;
  line-height: 19px;
  letter-spacing: 0%;
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Constrain markdown lists so they don't break out of the container */
  li {
    list-style-position: inside;
  }

  &[data-chat-role='user'] {
    background-color: var(--mantine-color-gray-0);
    border: 0.5px solid var(--fg-divider);
    /* text-align: right; */
    align-self: flex-end;
    width: fit-content;
    margin-left: 72px;
  }

  &[data-chat-role='assistant'] {
    /* background-color: var(--mantine-color-gray-0); */
  }

  &[data-chat-variant='error'] {
    color: var(--mantine-color-red-8);
    font-family: var(--mantine-font-family-monospace);
    text-transform: uppercase;
    font-size: 12px;
  }
}
