.badge {
  border: 0px;
  border-radius: 0px;
  transition: background-color 0.2s ease;
  font-family: monospace;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-4));
}

.badge:hover {
  color: var(--mantine-color-primary-filled);
}
