/* 
    My plan is to put all overrides in this file.
    When adding styles here make sure to:
    1. use :global(). Since these styles are not to be used as a css module 
        but to override grid styles directly.
    2. prefix all classes with .my-grid.ag-theme-alpine-dark. 
        The wrapper div has both of these classes and 
        when we use both of them the styles have higher specificity 
        and override the theme styles.  
*/

/* :global(.my-grid.ag-theme-alpine-dark .ag-cell-focus) {
  outline: none !important;
  box-shadow: none !important;
  background: none !important;
  border: none !important;
  background-color: red !important;
} */
