.toolbar {
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  gap: 0;

  /* Force buttons to all have the right height, align-items: stretch should do this but doesn't? */
  & > * {
    height: 27px; /** Footer size minus one for the border. */
    position: relative;
  }

  /** Format raw text to align properly with the buttons */
  & > p {
    padding: 0 8px;
    line-height: 27px !important;
  }
}

/* .toolbar >  */

/* Divider between sections */
.toolbar > *:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--fg-divider);
}
