.chatPanelHeader {
  border-bottom: 0.5px solid var(--fg-divider);
  padding: 2px 6px 2px 6px;
  flex-shrink: 0; /* Prevents it from shrinking */
}

.chatPanelBody {
  padding: 8px;
  flex-grow: 1; /* Takes up all available space between header and footer */
  overflow-y: auto; /* Enables vertical scrolling if content overflows */
  justify-content: flex-start; /* Align text at the top */
  align-items: flex-start; /* Align text to the left */
  flex-direction: column; /* Stack paragraphs vertically */
}

.chatPanelFooter {
  border-top: 0.5px solid var(--fg-divider);
  flex-shrink: 0; /* Prevents it from shrinking */
  flex-grow: 1;
}

.progressLoading {
  font-family: monospace;
}

.progressLoading::after {
  content: '...';
  display: inline-block;
  width: 3ch; /* 3 character widths */
  text-align: left;
  animation: dots 1.5s steps(4) infinite;
}

@keyframes dots {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
}
