.settingsPanel {
  display: flex;
  flex-direction: row;
  gap: var(--mantine-spacing-lg);
  align-items: flex-start;

  &:not(:last-child) {
    border-bottom: 1px solid var(--mantine-color-gray-3);
    padding-bottom: var(--mantine-spacing-xl);
    margin-bottom: var(--mantine-spacing-xl);
  }
}

.settingsPanelLeft {
  width: 350px;
  padding-right: 50px;
}

.settingsPanelRight {
  flex: 1;
  border: 1px solid var(--mantine-color-gray-4);
  padding: var(--mantine-spacing-md);
}
