.container {
  text-align: center;
}

.dashedLink {
  color: var(--mantine-color-gray);
  text-decoration-style: dashed;
  text-decoration-color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-2));
  text-underline-offset: 5px;

  &:hover {
    &,
    & * {
      color: var(--mantine-color-primary-filled) !important;
      text-decoration-color: var(--mantine-color-primary-filled) !important;
    }
  }

  *[data-error='true'] {
    color: var(--mantine-color-red-9);
  }
}
