.pill {
  display: flex;
  align-items: center;
  cursor: default;
  background-color: var(--mantine-color-white);
  border: 1px solid var(--mantine-color-gray-4);
  padding-left: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-sm);
}

.label {
  line-height: 1;
  font-size: var(--mantine-font-size-sm);
}

.icon {
  margin-right: var(--mantine-spacing-xs);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}
