.diffViewer {
  border-color: transparent;
  border-width: 1px;
  border-radius: 0px;
  background-color: light-dark(var(--mantine-color-light-6), var(--mantine-color-dark-6));
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;

  &::selection {
    background-color: #ffff00;
    color: black;
  }
}

.added {
  color: #284283;
}

.removed {
  color: red;
  text-decoration: line-through;
}
