.navButton {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: var(--mantine-color-primary-filled);
  }

  &[data-active] {
    &,
    &:hover {
      color: var(--mantine-color-primary-filled);
    }
  }
}
