.userAvatarLetter {
  width: 19px;
  height: 19px;
  background-color: var(--bg-base);
  color: var(--mantine-color-gray-8);
  border: 0.5px solid var(--fg-divider);
  border-radius: 4px;
  font-weight: 475;
  font-size: 11px;
  text-transform: uppercase;
}

.userButtonContainer:hover :global(.mantine-Button-root) {
  background-color: var(--mantine-color-gray-light-hover);
}
