.navButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;

  &:hover {
    color: var(--mantine-color-primary-filled);
  }

  &[data-active] {
    color: var(--mantine-color-foreground-9);
  }
}
