.navButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  width: 28px;
  height: 28px;

  &:hover {
    color: var(--mantine-color-primary-filled);
  }

  &[data-active] {
    color: var(--mantine-color-text);
  }

  &[data-dev-tool] {
    color: var(--mantine-color-devTool-filled);
  }
}
