.listSectionHeader {
  color: var(--fg-secondary);
  gap: var(--mantine-spacing-sm);
  padding: 8px var(--mantine-spacing-sm);
  flex-wrap: nowrap;

  &:hover {
    background-color: var(--bg-selected);
  }
}

/* Dividers only at the top level, and only between items */
.treeNode[data-level='1'] {
  &:not(:last-child) {
    border-bottom: 1px solid var(--fg-divider);
  }
}

.listSectionItem {
  color: var(--fg-primary);
  gap: var(--mantine-spacing-sm);
  padding: 3px var(--mantine-spacing-sm);
  min-height: 32px;
  flex-wrap: nowrap;
  &:hover {
    background-color: var(--bg-selected);
  }
}
