.list {
  flex-wrap: nowrap;
  --tabs-list-gap: 0; /* Undocumented, override. */
  height: 100%;
}

.tab {
  color: var(--fg-secondary);
  border-bottom: none;
  border-right: 0.5px solid var(--mantine-color-gray-4);
  height: 100%;

  &:hover {
    background-color: var(--bg-selected);
  }

  &[data-new-table] {
    padding: 0;
  }

  &:last-child {
    /* Handled by the Plus button to the right */
    border-right: none;
  }
}

.tab[data-active] {
  background-color: var(--bg-base);
  color: var(--fg-primary);
  border-bottom: none;

  &:hover {
    background-color: var(--bg-selected);
  }
}
