.badgeRoot {
  font-weight: 425;

  border: 1px solid color-mix(in srgb, currentColor 30%, transparent);
  border-radius: 0; /** Square corners */
  text-transform: none; /** Override the all-caps default */
}
