.mentions__wrapper {
  min-height: 110px;
  max-height: 152px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.spinner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 10;
}

.mentions__input {
  border: none;
  padding: 10px;
  outline: none !important;

  &::placeholder {
    color: var(--fg-secondary);
  }
}

.mentions__input:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.mentions__highlighter {
  padding: 10px;
  z-index: 1;
  position: relative;
  pointer-events: none;
}

.mentions__highlighter strong {
  border-radius: 6px;
}

.mentions__mention {
  position: relative;
  z-index: 2;
  background-color: rgba(224, 247, 255, 0.5) !important;
}

/* SUGGESTIONS */
.mentions__suggestions__list {
  background-color: white;
  border: 0.5px solid #e0e0e0;
  /* border-radius: 8px; */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  max-height: 200px;
  overflow-y: auto;
}

.mentions__suggestions__item {
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 0;
  background-color: var(--bg-panel);
}

.mentions__suggestions__item--focused {
  background-color: var(--bg-selected);
}

.mentions__suggestions__item:hover {
  background-color: light-dark(#f5f5f5, #1a1a1a);
}
